.w_btn{
    display: inline-block;
}
.btn{
    background: transparent;
    border: 0px;
    margin: 0px 5px 0px 0px;
    padding: 0px;
    cursor: pointer;
    transition: .4s;
}

.btn svg{
    width: 23px;
    height: auto;
    position: relative;
    top: 4px;
    transition: .4s;
}

.btn:hover svg{
    color: #303f9f;
    transition: .4s;
}